version: '3.7'
services:
  database:
    container_name: killerpool-pwa-pgsql
    image: postgres:14-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: db
